.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.icon-container {
  position: fixed;
  bottom: 0;
  margin-bottom: 0.5%;
  right: 0;
  z-index: 1050;
  border-radius: 50%;
}

/* Existing styles */

/* Add responsive styles */
@media screen and (max-width: 768px) { /* Adjust the max-width as needed */
  .d-flex {
      flex-direction: column;
      align-items: center;
  }

  /* Adjust the profile components for smaller screens */
  .profile-image-right, .profile-image-left {
      width: 100%; /* Adjust width to fit smaller screens */
      margin-bottom: 20px; /* Add some space between items */
  }
}