/* Base styles for cards */
.recipe-card {
    display: flex;
    margin: 1rem;
    flex-direction: column; /* Start with a vertical layout on smaller screens */
}

.recipe-card-img {
    width: 100%; /* Full width for the image on smaller screens */
    height: auto; /* Maintain aspect ratio */
}

.recipe-card-body {
    padding: 1rem;
    text-align: center; /* Center the text for a cleaner look on smaller screens */
}

/* Medium screens (tablets, 768px and up) */
@media (min-width: 768px) {
    .recipe-card {
        flex-direction: row; /* Switch to horizontal layout on larger screens */
        width: 30%; /* Take half width of the container */
        align-items: center; /* Align items vertically in the center */
    }

    .recipe-card-img {
        height: 10rem;
        width: 12rem;
        /* You can add additional styling here if needed, 
           like margin or object-fit, depending on your design */
    }

    .recipe-card-body {
        text-align: center; /* Center the text */
        flex: 1; /* Allow the text to take up remaining space */
        /* Add padding or margins as necessary for spacing and layout */
    }
}
